{{#> modal }}
{{/modal}}

<main class="d-flex h-100 overflow-hidden">
  {{>sidebar}}
  <div id="content" class="h-100 overflow-auto p-4" style="width: 80%; ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <!-- Table data -->
          <h1 class="h3 mb-3 text-gray-800">All Plans</h1>
          

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div
              class="card-header py-3 d-flex align-items-center justify-content-between"
            >
              <h6 class="m-0 font-weight-bold text-primary">
                Test plans
              </h6>
              <div class="action-button">
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                >
                  Click here to add plan
                </button>

                <!-- Modal -->
                <div
                  class="modal fade"
                  id="staticBackdrop"
                  data-bs-backdrop="static"
                  data-bs-keyboard="false"
                  tabindex="-1"
                  aria-labelledby="staticBackdropLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1
                          class="modal-title fs-5"
                          id="staticBackdropLabel"
                        >
                          Test Case
                        </h1>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <form id="formTestCase">
                          <div class="row">
                            <div class="col-6 form-group">
                              <label for="">Name test plan</label>
                              <span class="text-danger">*</span>
                              <input
                                type="text"
                                class="form-control"
                                id="txtName"
                              />
                              <p
                                class="text-danger py-2 mb-0"
                                id="notiName"
                              ></p>
                            </div>
                            <div class="col-6 form-group">
                              <label for="">Hour plan</label>
                              <span class="text-danger">*</span>
                              <input
                                type="number"
                                class="form-control"
                                id="txtHour"
                              />
                              <p
                                class="text-danger py-2 mb-0"
                                id="notiHour"
                              ></p>
                            </div>
                            <div class="col-6 form-group">
                              <label for="">Description</label>
                              <span class="text-danger">*</span>
                              <input
                                type="text"
                                class="form-control"
                                id="txtDes"
                              />
                              <p
                                class="text-danger py-2 mb-0"
                                id="notiDes"
                              ></p>
                            </div>
                            <div class="col-6 form-group">
                              <label for="">Type</label>
                              <span class="text-danger">*</span>
                              <select
                                name=""
                                id="txtType"
                                class="form-control"
                              >
                                <option value="">
                                  Choose type you want
                                </option>
                                <option value="T1">Acceptance</option>
                                <option value="T2">Can Edit</option>
                                <option value="T3">Only view</option>
                                <option value="T4">Deny Access</option>
                              </select>
                              <p
                                class="text-danger py-2 mb-0"
                                id="notiType"
                              ></p>
                            </div>
                            <div class="col-6 form-group">
                              <label for="">Start date</label>
                              <span class="text-danger">*</span>
                              <input
                                type="date"
                                class="form-control"
                                id="txtDate"
                              />
                              <p
                                class="text-danger py-2 mb-0"
                                id="notiDate"
                              ></p>
                            </div>
                            <div class="col-6 form-group">
                              <label for="">Cost ($)</label>
                              <span class="text-danger">*</span>
                              <input
                                type="number"
                                class="form-control"
                                id="txtCost"
                              />
                              <p
                                class="text-danger py-2 mb-0"
                                id="notiCost"
                              ></p>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                        <button
                          id="btnAddTest"
                          type="button"
                          class="btn btn-primary"
                        >
                          Add Test Case
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table
                  class="table table-bordered"
                  id="dataTable"
                  width="100%"
                  cellspacing="0"
                >
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Start date</th>
                      <th>Release</th>
                    </tr>
                  </thead>
                  {{!-- <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Position</th>
                      <th>Office</th>
                      <th>Age</th>
                      <th>Start date</th>
                      <th>Salary</th>
                    </tr>
                  </tfoot> --}}
                  <tbody id="tbodyTestCase">
                    {{!-- <tr>
                      <td>Jennifer Acosta</td>
                      <td>Junior Javascript Developer</td>
                      <td>Edinburgh</td>
                      <td>43</td>
                      <td>2013/02/01</td>
                      <td>75,650</td>
                    </tr>
                    <tr>
                      <td>Cara Stevens</td>
                      <td>Sales Assistant</td>
                      <td>New York</td>
                      <td>46</td>
                      <td>2011/12/06</td>
                      <td>145,600</td>
                    </tr>
                    <tr>
                      <td>Hermione Butler</td>
                      <td>Regional Director</td>
                      <td>London</td>
                      <td>47</td>
                      <td>2011/03/21</td>
                      <td>356,250</td>
                    </tr> --}}
                  </tbody>
                </table>
              </div>
            </div>
            <section class="section-center">
              <!-- form -->
              <form class="grocery-form">
                <p class="alert"></p>
                <h3>Add test run</h3>
                <div class="form-control">
                  <input
                    type="text"
                    id="grocery"
                    placeholder="e.g. eggs"
                  />
                  <button type="submit" class="submit-btn">submit</button>
                </div>
              </form>
              <!-- list -->
              <div class="grocery-container">
                <div class="grocery-list"></div>
                <button class="clear-btn">Clear items</button>
              </div>
            </section>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">
                Test Run Progress  <i class="fa-solid fa-clock"></i>
              </h6>
            </div>
            <div class="card-body">
              <div
                class="progress"
                role="progressbar"
                aria-label="Default striped example"
                aria-valuenow="10"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div
                  class="progress-bar progress-bar-striped"
                  style="width: 10%"
                ></div>
              </div>
              <div
                class="progress"
                role="progressbar"
                aria-label="Success striped example"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div
                  class="progress-bar progress-bar-striped bg-success"
                  style="width: 25%"
                ></div>
              </div>
              <div
                class="progress"
                role="progressbar"
                aria-label="Info striped example"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div
                  class="progress-bar progress-bar-striped bg-info"
                  style="width: 50%"
                ></div>
              </div>
              <div
                class="progress"
                role="progressbar"
                aria-label="Warning striped example"
                aria-valuenow="75"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div
                  class="progress-bar progress-bar-striped bg-warning"
                  style="width: 75%"
                ></div>
              </div>
              <div
                class="progress"
                role="progressbar"
                aria-label="Danger striped example"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div
                  class="progress-bar progress-bar-striped bg-danger"
                  style="width: 100%"
                ></div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Bootstrap core JavaScript-->
<script src="/js/jquery/jquery.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/js/jquery/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>
<script src="/js/AddTest.js"></script>
<!-- Page level plugins -->
<script src="/js/datatables/jquery.dataTables.min.js"></script>
<script src="/js/datatables/dataTables.bootstrap4.min.js"></script>

<script>
  const loadTable = (testRuns) => {
    const table = document.getElementById('tbodyTestCase');
    const projectId = {{ projectId }};

    testRuns.forEach(testRun => {
      const row = document.createElement("tr");
      const id = document.createElement("td");
      const name = document.createElement("td");
      const description = document.createElement("td");
      const createdAt = document.createElement("td");
      const release = document.createElement("td");

      id.innerText = testRun.id;
      name.innerText = testRun.name;
      description.innerText = testRun.description;
      createdAt.innerText = new Date(testRun.createdAt);
      release.innerHTML = `<a href="/project/${projectId}/release/">${testRun.releaseId}</a>`;

      row.appendChild(id);
      row.appendChild(name);
      row.appendChild(description);
      row.appendChild(createdAt);
      row.appendChild(release);

      table.appendChild(row);
    });
  }

  const projectId = {{ projectId }};
  axiosAPI.get(`/api/projects/${projectId}/testPlans`)
    .then((response) => {
      const { testPlans } = response.data;
      console.log(testPlans);
      loadTable(testPlans);
    })
    .catch((err) => {
      console.log(err);
    })
</script>

<!-- Page level custom scripts -->
<script>
$(document).ready(function() {
  $('#dataTable').DataTable();
});

</script>
<script src="/js/validation/validation.js"></script>

<script src="/js/ItemList.js"></script>
<script src="/js/Items.js"></script>
<script src="/js/test_plan.js"></script>

{{!-- <link href="/css/sb-admin-2.min.css" rel="stylesheet" />
<link
  href="/css/fontawesome-free.min.css"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
  rel="stylesheet"
/>
<!-- FontAwesome 6.2.0 CSS -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link rel="stylesheet" href="/css/index.css" />
<link rel="stylesheet" href="/css/test_plan.css"/> --}}
