<header class="bg-dimmed-white">
  <nav class="border border-top-0 border-start-0 border-end-0 border-3">
    <div class="container-fluid d-flex py-3 px-3">
      <div class="me-auto">
        <a href="/" class="navbar-brand">
          <img src="/assets/Logo.png" alt="Logo" height="34" class="d-inline-block align-text-top">
        </a>
      </div>
      <div class="d-flex gap-3 align-items-center">
        <div class="d-flex gap-2">
          <div class="d-inline-block bg-divisor-gray rounded-pill" style="width: 3px;"></div>
          <a href="/project" class="text-decoration-none">
            <img src="/assets/projects.png" alt="Logo" height="32" class="">
            <span class="align-middle text-gray fw-semibold px-1">My Projects</span>
          </a>
          <div class="d-inline-block bg-divisor-gray rounded-pill" style="width: 3px;"></div>
        </div>
        {{!-- <img src="/assets/bell.png" alt="Logo" height="32" class="d-inline-block align-text-top"> --}}
        <div class="btn-group">
          <div type="button" class=" p-0" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/assets/avatar.png" alt="Logo" height="32" class="d-inline-block align-text-top">
          </div>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><button class="dropdown-item" type="button">Profile</button></li>
            <li><button class="dropdown-item" type="button">Log Out</button></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>