<div class="d-flex w-100 h-100 justify-content-center align-items-center gap-3">
	<a class="btn btn-primary btn-lg" href="/login">
		Login
	</a>
	<a class="btn btn-outline-primary btn-lg" href="/signup">
		Signup
	</a>
</div>