.text-gray {
	color: #4D5E80;
}

.bg-divisor-gray {
	background-color: #EDEFF2;
}

.bg-tinted-gray {
	background-color: #DCE3EE;
}

.bg-dimmed-white {
	background-color: #F7F8FA;
}

html, body {
	background-color: #F7F8FA;
	height: 100%;
}

.bottom-shadow {
	box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.05);
}

.landing-bg {
	background-image: url('/assets/landing.png');
	background-size: cover;
}

.project-grid-cols-1 {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 450px) { 
	.sm\:project-grid-cols-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (min-width: 768px) { 
	.md\:project-grid-cols-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}